/* RESET */
img{
    max-width: 100%;
}

.ms_mc-wrapper{
    width: 100%;
    height: 100vh;
}

/* COMMON */
ul{
    list-style-type: none;
}
/* HEADER */
.ms_small-logo{
    width: 65px;
}

.form-control{
    background-color: #E5E5E5;
}

header .input-group-text{
    background-color: #E5E5E5;
}

header .ms_entity{
    color: #FF8F00;
}

header .navbar-collapse{
    flex-grow: 0;
}
/* MAIN */
.ms_main{
    height: 100%;
}
/* navbar left */
.ms_nav-left{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 80px;
    color: white;
    
}

/* main content */
.ms_main-content{
    width: calc(100% - 80px);
    height: 100%;
    overflow-y: auto;
    /* debug */
    background-color: cadetblue;
}

/* Banner */
.ms_banner{
    background-color: #1B72E8;
}
.ms_banner .navbar-toggler-icon{
    background-image: none;
}

.ms_banner .navbar-toggler{
    font-size: 3rem;
}

.badge{
    background-color: #165BBA;
}

/* main */
.ms_main .accordion{
    border-radius: 0;
}

.ms_main .ms_container{
    background-color: white;
}

.table .btn{
    border-color: black;
}

.ms_done{
    background-color: #198754;
}

.ms_process{
    background-color: #FFC107;
}

.ms_failed{
    background-color: #DC3545;
}
th span{
    color: white;
    padding: 5px;
    border-radius: 30px;
    background-color: #F26551;
}